*{
    margin : 0;
    padding : 0;
  }
  .frame{
    position : absolute;
    transform : translate(-50%, -50%);
    top : 50%;
    left : 50%;
    background: #1F2937;
    height : 550px;
    width : 550px;
    border-radius : 10px;
    box-shadow : 5px 3px 25px #141b24;
  }
  .container{
    position : absolute;
    top : 118px;
    left : 52px;
    width : 446px;
    height : 386px;
  }
  #line1,#line2{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
  }
  #line2{
    color : #10B981;
  }
  #line3{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin-top : 10px;
    margin-bottom : 51px;
  }
  
  button{
    box-sizing: border-box;
    display: inline-block;
    border : none;
    cursor : pointer;
    width : 223px;
    border-radius : 10px;
    color : white;
    background : #10B981;
    text-align : center;
    padding : 9px 17px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    box-shadow : 5px 5px 10px #0a7e57;
    vertical-align: middle;
  }
  .div{
    width : 446px;
    height : 2px;
    margin : 34px 0;
    background: #2e415c;
  }
  .pass{
    display : flex;
    background: #2e415c;
    width : 211px;
    height : 40px;
    border-radius : 8px;
    color: #55F991;
    align-items : center;
    justify-content : center;
    font-family : sans-serif;
    box-shadow : 5px 5px 10px #0a7e57;
  }
  .pass:hover {
    cursor: pointer;
  }
  .gen-class{
    display : flex;
    height : 100px;
    flex-wrap : wrap;
    justify-content : space-around;
    align-items : space-around;
  }

  .gen-pass{
      display : flex;
      flex-direction: row;
      align-items: center;
      justify-content : space-around;
  }

  #passLength {
      width : 150px;
      margin-left : 20px;
      height : 35px;
      background : #10B981;
      border : none;
      border-radius : 5px;
      text-align : center;
      font-size : 1.1em;
      box-shadow : 5px 5px 10px #0a7e57;
      color : white;
  }
  img{
      margin-right: 10px;
      margin-top : 2px;
  }